<% include ../partials/header %>
<div class="row">
	<div class="col-md-8">
		<h3><%= user.username %>'s Contributions:</h3>
		<ul>
			<% locations.forEach(location => { %>
				<li class="user-locations-list">
					<a class="user-locations-list" href="/locations/<%= location._id %>">
					<%= location.name %>
				</a>
				</li>
			<% }) %>
		</ul>
	</div>
</div>
<% include ../partials/footer %>